body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    text-align: center;
    background: #444;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
}

.project {
    background: #eee;
    padding: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
